*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(15, 10, 10, 0.961);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Game{
    height: 50vh;
    width: 50vw;
    background-color: yellow;
    position: fixed;
    display: flex;
}

#runner{
    height: 5vh;
    width: 5vw;
    /* background-color: red; */
    position: relative;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    z-index: 1;
}
.obstical{
    position: absolute;
    background-color: black;
    color: white;
    width: 2.5vw;
}
#obstical1{
    margin-top: 5vh;
    height: 5vh;
    width: 40vw;
    left: 5vw;
}
#obstical2{
    margin-top: 5vh;
    height: 15vh;
    left: 5vw;
}
#obstical3{
    margin-top: 25vh;
    height: 20vh;
    left: 5vw;
}
#obstical4{
    margin-top: 40vh;
    height: 5vh;
    width: 25vw;
    left: 5vw;
}
#obstical5{
    margin-top: 40vh;
    height: 5vh;
    width: 10vw;
    left: 35vw;
}
#obstical6{
    margin-top: 5vh;
    height: 10vh;
    left: 42.5vw;
}
#obstical7{
    margin-top: 20vh;
    height: 25vh;
    left: 42.5vw;
}
#obstical8{
    margin-top: 15vh;
    height: 5vh;
    width: 25vw;
    left: 12.5vw;
}
#obstical9{
    margin-top: 30vh;
    height: 5vh;
    width: 25vw;
    left: 12.5vw;
}
#obstical10{
    margin-top: 15vh;
    height: 10vh;
    left: 22.5vw;
}
#obstical11{
    margin-top: 25vh;
    height: 10vh;
    left: 30vw;
}
#over{
    position: relative;
    margin-top: 20vh;
    color: white;
    height: 5vh;
    width: 5vw;    
    left: 20vw;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.colorChanger{
    position: relative;
    height: 5vh;
    width: 5vw;
    border-radius: 50%;
}
#c2{
    margin-top: 35vh;
}
#c3{
    margin-top: 45vh;
    left: 20vw;
}
#c4{
    left: 5vw;
    margin-top: 10vh;
}
#c5{
    margin-top: 40vh;
    right: 30vw;
}
img{
    background-color: white;
    margin-top: 70vh;
    height: 10vh;
    cursor: pointer;
}

#up{
    position: relative;
    right: 30vw;
    border-radius: 40px 60px 0 0;
    transform: rotate(-90deg);
}
#down{
    position: relative;
    right: 29vw;
    border-radius: 40px 60px 0 0;
    transform: rotate(90deg);
}
#left{
    position: relative;
    left: 29vw;
    border-radius: 0 40px 60px  0;
    transform: rotate(180deg);
}
#right{
    position: relative;
    left: 30vw;
    border-radius: 0 40px 60px  0;
}
